#app-container {
  margin: 0 auto;
}

#app-container h1.app-name {
  text-align: center;
  font-size: 15px;
  color: #000;
}

#app-container h1.app-name span {
  visibility: hidden;
  font-size: 0;
  position: absolute;
  z-index: -1;
}